<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="content">
      <div class="head"><h2>Your Product Got a Return Request</h2></div>
      <div class="body">
        <p>New Retrun Request. Check Link Below for more information</p>
      </div>
      <div class="footer">
        <a
          href="http://localhost:5174/api/updateRequestStatus.html/update?requestID={{ requestID }}"
          >Check Request</a
        >
      </div>
    </div>
  </body>
</html>
